@import "tailwindcss";

:root {
  --background: #0f172a;
  /* slate-950 */
  --foreground: #f8fafc;
  /* slate-50 */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-cormorant);
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Custom Scrollbar for Webkit */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #1e293b;
}

::-webkit-scrollbar-thumb {
  background: #475569;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #64748b;
}